{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Codeid.ru</title>
</head>
<body>
  <!-- Шапка сайта -->
  <header class="header">
    <div class="container">
      <nav class='nav'>
        <div class="logo">
          <a href="/"><img class="logo" src="{% static 'img/logo1.png' %}" alt="logo"></a>
        </div>
        <ul class="menu">
          <ul class="menu">
            <li class="menu-item">
              <a href='/' class='item active'>Главная</a>
            </li>
            <li class="menu-item">
              <a href='#' class='item'>Про нас</a>
            </li>
          </ul>
          <a href="#"><button class='btn'>Войти</button></a>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Вывод записей -->

  <div id="post">
    <div class="content">
      <div class="posts">
        <div class="imgblock">
          <div class="photo">
            <img src="{{ post.img.url }}" width="100%">
          </div>
          <span class="ttl">
            <h3><a href="/">Новости</a></h3><br>
            <h4>{{ post.title }}</h4>
            <p>{{ post.author }} {{ post.date_posted }}</p>
          </span>
        </div>
        <div class="post">
          <p>{{ post.description }}</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>