{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Codeid.ru</title>
</head>
<body>
  <!-- Шапка сайта -->
  <header>
    <a href="/"><img src="{% static 'img/logo1.png' %}" alt="logo"></a>
    <nav class='nav'>
      <a href='/' class='item active'>Главная</a>
      <a href='#' class='item'>Про нас</a>
    </nav>
    <a href="#"><button class='btn'>Войти</button></a>
  </header>
  <!-- Вывод записей -->
  <div id="main">
    <div class="content">
      <div class="posts">
        <div class="imgblock">
          <img src="{{ post.img.url }}" width="100%">
          <span class="ttl">
            <h3><a href="/">Новости</a></h3><br>
            <h4>{{ post.title }}</h4>
            <p>{{ post.author }} {{ post.date }}</p>
          </span>
        </div>
        <div class="post">
          <p>{{ post.description }}</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>