<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
              type="image/x-icon"
              href="{% static '/img/logo1.html' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <main class="header">
        {% block header %}
        {% endblock header %}
    </main>

    <main class="menu">
        {% block menu %}
        {% endblock menu %}
    </main>

    <main class="content">
        {% block content %}
        {% endblock content %}
    </main>

    <main class="footer">
        {% block footer %}
        {% endblock footer %}
    </main>

    <script src="/static/js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>