{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Codeid.ru</title>
</head>
<body>
  <!-- Шапка сайта -->
  <header>
    <a href="/"><img src="{% static 'img/logo1.png' %}" alt="logo"></a>
    <nav class='nav'>
      <a href='/' class='item active'>Главная</a>
      <a href='#' class='item'>Про нас</a>
    </nav>
    <a href="#"><button class='btn'>Войти</button></a>
  </header>
  <!-- Вывод записей -->
  <div id="main">
    <div class="content">
      <div class="posts">
        <h3>Актуальные новости</h3>
        {% for post in post_list %}
          <div class="item">
            <div class="image">
              <a href="#"><img src="{{ post.img.url }}" width="200" /></a>
            </div>
            <h4>{{ post.title }}</h4>
            <p>{{ post.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>