asgiref==3.7.2
crispy-bootstrap5==0.7     
Django==4.2.5
django-crispy-forms==2.0   
djangorestframework==3.14.0
Markdown==3.4.4
Pillow==10.0.1
psycopg2==2.9.7
pytz==2023.3.post1
sqlparse==0.4.4
tzdata==2023.3