body {
    display: flex;
    background: #6e6e6e;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 2%;
    background: #363636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 14px;
    color: #000000;
}


.navbar a {
    position: relative;
    font-size: 16px;
    color: #8e8e8e;
    text-decoration: none;
    font-weight: 500;
    margin-right: 10px;
    transition: transform .4s ease;
}

.search-bar {
    position: absolute;
    margin: 80%;
    width: 150px;
    height: 20px;
    background: transparent;
    border: 2px solid #737373;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #e7e1e1;
    padding-left: 10px;
}

.search-bar input::placeholder {
    color: #e4e4e4;
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 7px;
    color: #efeded;
}

.aside {
    float: left;
    margin: 50px 0 0 0;
    width: 10%;
    padding: 1%;
    height: 100vh;
}

.aside a {
    color: #000000;
    display: absolute;
    font-size: 14px;
    transition: transform .4s ease;
}

.aside a:hover, .navbar a:hover {
    color: #f62d2d;
    text-decoration: none;
    transform: scale(1.05);
}

.features {
    margin: 50px;
}

.projects {
    margin: 25px;
}

.content {
    margin: 10px;
    position: relative;
    float: none;
}

.image-left {
    position: absolute;
}

.image-left a {
    width: 400px;
}

.footer {
    margin: 0 10px 10px 0;
    width: 100%;
    background: #2b2b2b;
    color: #6e6e6e;
    height: 30px;
    justify-content: right;
    align-items: center;
    text-align: right;
}

.footer p {
    margin: 0 10px 0 0;
}