body {
    background: #555555;
}

aside {
    float: left;
    background: #212020;
    width: 15%;
    padding: 2.0%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    position: fixed;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}
aside h3 {
    margin-top: 10px;
    font-size: 28px;
}

aside ul {list-style: none;}
aside ul li, .records h4 {
    color: #fff;
    display: block;
    margin-top: 10 px;
    transition: transform .4s ease;
}

aside ul li:hover, aside ul a:hover, .records h4:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

div .projects {
    float: left;
    color: #fff;
    display: block;
    margin-top: 0px;
    margin-left: 300px;
    text-align: center;
    width: 75%;
    position: right;
}

div .projects h4 {
    font-size: 20px;
}

div .projects p {max-width: 75%; margin: 20px auto;}

.form-comment {
    font-size: 14px;
    margin-left: 350px;
}

.form-comment label {
    margin: 10px 10px;
}

.form-comment input {
    border-radius: 7px;
    padding: 10px;
    height: 25px;
    width: 150px;
}

.form-comment textarea {
    border-radius: 7px;
    padding: 10px;
    height: 100px;
    width: 100%;
    resize: vertical;
}

.form-comment div {
    margin: 10px;
}

.view-comment {
    padding: 10px;
    margin: 10px 350px;
    font-size: 14px;
    border-radius: 15px;
}

.likes {
    margin: 0 350px;
}

div .footer {
    text-align: right;
}

.content-section {
    margin: 0 400px;
    background: #464545;
    padding: 10px 20px;
    border: 1px solid #0c0c0c;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}
  
a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}
  
.article-content {
    white-space: pre-line;
}
  
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}
  
.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}
  
.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
  
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
  
.account-heading {
    font-size: 2.5rem;
}