*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
    background-color: #ededed;
}

.header {
  background-color: #4e4e4e;
  padding: auto;
  color: #8d8b8b;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
}

.menu{
  display: flex;
}

.menu-item{
  padding-right: 30px;
}

#tags{
  background-color: #cdcdcd;
  width: 160px;
  /* height: 100%; */
  margin: 0;
  padding: 15px;
  position: absolute;
}

h1{
  font-size: 18px;
  text-align: center;
}

.list{
  display: block;
  padding: 5px;
}

#main{
  height: 100%;
  margin-left: 160px;
  padding: 15px 15px;
}

.posts{
  display: inline-block;
}

h3{
  text-align: center;
}

.item-post{
  display: inline-block;
  background-color: #fff;
  margin: 0 0 7px;
  padding: 10px 10px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  text-align: center;
  width: 780px;
  height: 870px;
  position: relative;
}

.item-post p{
  text-align: left;
  margin: 10px;
  padding: 15px 20px 0;
}

.item-post h4{
  margin: 10px 0;
  font-size: 20px;
  position: relative;
  background-color: #fff;
}

.imgblock {
  position: relative;
  display: inline-block;
}

.imgblock img {
  position: center;
  height: 100vh;
  width: 100%;
  margin: 10px auto;
}

.aut {
  text-align: center;
  justify-content: space-between;
}

.post {
  text-align: center;
  justify-content: space-between;
  margin: 0 15%;
}

#post{
  height: 100%;
  padding: 15px 15px;
}

.photo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.ttl h3{
  display: flex;
  align-items: center;
  justify-content: center;
}

.ttl h4{
  display: flex;
  align-items: center;
  justify-content: center;
}