{% extends 'main.html' %}
{% load mptt_tags static %}
{% block content %}
<div class="card mb-3 border-0 shadow-sm">
  <div class="row">
    <div class="col-4">
      <img src="{{ article.thumbnail.url }}" class="card-img-top" alt="{{ article.title }}" />
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5>{{ article.title }}</h5>
        <p class="card-text">{{ article.full_description|safe }}</p>
        Категория: <a href="{% url 'articles_by_category' article.category.slug %}">{{ article.category.title }}</a> /
        Добавил: {{ article.author.username }} / <small>{{ article.time_create }}</small>
      </div>
    </div>
  </div>
  {% if article.tags.all %}
  <div class="card-footer border-0">
    Теги: {% for tag in article.tags.all %} <a href="{% url 'articles_by_tags' tag.slug %}">{{ tag }}</a>, {% endfor %}
  </div>
  {% endif %}
  <div class="rating-buttons">
    <button class="btn btn-sm btn-primary" data-article="{{ article.id }}" data-value="1">Лайк</button>
    <button class="btn btn-sm btn-secondary" data-article="{{ article.id }}" data-value="-1">Дизлайк</button>
    <button class="btn btn-sm btn-secondary rating-sum">{{ article.get_sum_rating }}</button>
  </div>
</div>
<div class="card border-0">
  <div class="card-body">
    <h5 class="card-title">
      Комментарии
    </h5>
    {% include 'blog/comments/comments_list.html' %}
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'custom/js/ratings.js' %}"></script>
{% endblock%}

{% block sidebar %}
<div class="card mb-2 border-0">
  <div class="card-body">
    <div class="card-title">
      Похожие статьи
    </div>
    <div class="card-text">
      <ul class="similar-articles">
        {% for sim_article in similar_articles %}
        <li><a href="{{ sim_article.get_absolute_url }}">{{ sim_article.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}  