{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <link rel="shortcut icon" href="img/logo.png" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="{% url 'home' %}" class="fas fa-home">Главная</a>
			<a href="/admin" class="fas fa-address-card">Админ панель</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Регистрация</a>
			<a class="nav-item nav-link" href="{% url 'login' %}">Войти</a>
        </nav>

        <form action="#" class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit"><i class='bx bx-search-alt-2'></i></button>
        </form>
    </header>
    <aside class="aside">
        <a href="#">Новости</a><br>
        <a href="#">It-индустрия</a><br>
        <a href="#">Игры</a><br>
        <a href="#">Программы</a><br>
        <a href="#">Языки программирования</a><br>
        <a href="#">Информационная безопастность</a><br>
        <a href="#">Операционные ситемы</a><br>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>