{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <aside>
        <img src="{% static 'img/logo.jpg' %}" alt="Лого">
        <span class="logo">Blog</span>
        <h3>Меню</h3>
        <ul>
            <li><a href="{% url 'home' %}" class="fas fa-home">Главная</a></li>
			<li><a href="/admin" class="fas fa-address-card">Админ панель</a></li>
			<li><a href="" class="fa-light fa-right-to-bracket">Войти</a> | <a href="">Регистрация</a></li>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>

<!-- {% load static %}
<!DOCTYPE>
<html >
<head>
	<title>Новостной блог</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css.style.css' %}">

	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/" class="active">Главная</a></li>
			    <li><a href="/admin">Админ панель</a></li>
				<li><a href="">Войти</a><a href="">Регистрация</a></li>
			    
			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">
				
				<div class="projects">
					<h3>Записи</h3>
					{% for post in post_list %}
					<div class="item">
						<div class="image left">
							<a href="#"><img src="{{ post.img.url }}" width="200px"/></a>
						</div>
						<div class="text left">
							<h4><a href="{{ post.id }}">{{ post.title }}</a></h4>
							<p>{{ post.description }}</p>
							<p>Автор: {{ post.author }} </p>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
					{% endfor %}					
				</div>
			</div>
			
			<div class="cl">&nbsp;</div>
		</div>
		

	</div>
	
	<div id="footer">
		<p class="copy right">Copyright &copy;  2022 </p>
	</div>
</div>
</body>
</html> -->