{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <link rel="shortcut icon" href="img/logo.png" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}
    {% endblock %}

    {% block aside %}
    {% endblock %}

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    {% block footer %}
        <div class="footer">
            <p class="copy-right">© 2023</p>
        </div>
    {% endblock %}
</body>
</html>