body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: #ffffffb7;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 70px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 25px;
}

aside ul {list-style: none;}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 10px;
    transition: all .4s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);

}